<div class="content">
    <div class="about">
        <h2>About Me
            <svg xmlns="http://www.w3.org/2000/svg" width="254" height="4" viewBox="0 0 254 4" fill="none">
                <path d="M1 1L253 3" stroke="url(#paint0_linear_33_72)" stroke-width="2" stroke-linecap="round"/>
                <defs>
                  <linearGradient id="paint0_linear_33_72" x1="127" y1="1" x2="127" y2="3" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#FE9119"/>
                    <stop offset="1" stop-color="#ED250A"/>
                  </linearGradient>
                </defs>
              </svg>
        </h2>
        <h6>
            <span>ITI Graduate</span> Highly skilled <span>Full Stack MEARN Developer</span> experience in developing web applications
             as the back end developer using MongoDB, NodeJs, and the Express framework.
              Experienced in working with databases, APIs, and other related technologies.
               As the front end, experienced in developing responsive websites applications using HTML, CSS, JavaScript and TypeScript,
                as well as frameworks such Bootstrap, Angular and React.
                 Passionate about developing high-quality web applications and committed to meeting project deadlines.
                  Strong teamwork with excellent communication and project management skills.
        </h6>
        
    </div>
    <div class="services">
        <h2>My Services
            <svg xmlns="http://www.w3.org/2000/svg" width="254" height="4" viewBox="0 0 254 4" fill="none">
                <path d="M1 1L253 3" stroke="url(#paint0_linear_33_72)" stroke-width="2" stroke-linecap="round"/>
                <defs>
                  <linearGradient id="paint0_linear_33_72" x1="127" y1="1" x2="127" y2="3" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#FE9119"/>
                    <stop offset="1" stop-color="#ED250A"/>
                  </linearGradient>
                </defs>
              </svg>
        </h2>
        <div class="card-container">
            <ng-container *ngFor="let service of services">
                <div class="card">
                    <h4><i [class]="service.icon"></i> {{service.title}}</h4>
                    <p>
                       {{service.desc}}
                    </p>
                </div>
            </ng-container>
        </div>
        

    </div>
</div>