nav
{
    display: flex;
    align-items: center;
    justify-content: flex-end;

    >a{
        margin-right: .4rem;
        border-radius: 1.5rem;
        padding: .6rem;
        font-size: .7rem;
        color:gray;
        background-color:#E1E8EF;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        font-family:cursive;

        >i{
            color: gray;
        }
        @media (min-width: 768px) {
            font-size: .8rem;

        }
        @media (min-width: 992px) {
            font-size: .9rem;

        }
    }
    .active{
      background: linear-gradient(91deg, #1afbff 7.92%, #0555e8 108.2%);
        color: white;
        font-weight: 600;
        >i{
            color: white;
        }
    }
}
