<div class="skills">
    <div class="section">
        <div class="card">
            <h2>Work Skills</h2>
            <div class="subcard">
                <ng-container *ngFor="let skill of skills">
                    <span>{{skill}}</span>

                </ng-container>
            </div>
        </div>

        
        <div class="card">
            <h2>Soft Skills</h2>
            <div class="subcard">
                <ng-container *ngFor="let skill of softSkills">
                    <span>{{skill}}</span>
                </ng-container>
            </div>
        </div>




    </div>
</div>