<div class="resume">
    <h2>Resume
        <svg xmlns="http://www.w3.org/2000/svg" width="254" height="4" viewBox="0 0 254 4" fill="none">
            <path d="M1 1L253 3" stroke="url(#paint0_linear_33_72)" stroke-width="2" stroke-linecap="round"/>
            <defs>
              <linearGradient id="paint0_linear_33_72" x1="127" y1="1" x2="127" y2="3" gradientUnits="userSpaceOnUse">
                <stop stop-color="#FE9119"/>
                <stop offset="1" stop-color="#ED250A"/>
              </linearGradient>
            </defs>
          </svg>
    </h2>
    <div class="content">
        <div class="card">
            <h3><i class="fa-solid fa-graduation-cap"></i> Education</h3>
            <div class="flex">
                <div class="subcard">
                    <p>2021-2023</p>
                    <p>Software Development</p>
                    <p>Various Platforms Education Online</p>
                </div>
                <div class="subcard">
                    <p>2015-2019</p>
                    <p>Bachelor Faculty of Arts – Arabic Department-</p>
                    <p>Sohag University</p>
                </div>
            </div>
        </div>
        <div class="card">
            <h3><i class="fa-solid fa-briefcase"></i> Internship</h3>
            <div class="flex">
                <div class="subcard">
                    <p>2023-6-25</p>
                    <p>Full Stack (MEARN)</p>
                    <p>ITI Ministry Of Communications and Information Technology</p>
                </div>
                <div class="subcard">
                    <p>2022-12-30</p>
                    <p>Web Design</p>
                    <p>NTI Ministry Of Communications and Information Technology</p>
                </div>
            </div>
        </div>
    </div>
</div>
<app-skills></app-skills>
